
@{
    ViewBag.Title = "AdministrarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navegacion {

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestión de Personal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Administrar Cuentas</a></li>
                        <li class="breadcrumb-item active">Usuarios</li>
                    </ol>
                </div>
                <h4 class="page-title">Usuarios</h4>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<div class="row g-3">
    <form class="row g-3">
        <div class="col-6">
            <label for="inputId" class="form-label">Identificación</label>
            <input type="text" class="form-control" placeholder="Identificación" aria-label="First name">
        </div>
        <div class="col-6">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="First name">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Contraseña Temporal</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Dirección 1</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-3">
            <label for="inputPhone" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="inputPhone" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-3">
            <label for="inputSalary" class="form-label">Ingrese el salario</label>
            <input type="text" class="form-control" id="inputSalary">
        </div>
        <div class="col-3">
            <label for="formFoto" class="form-label">Elija una foto</label>
            <input class="form-control-file" type="file" id="formFoto">
        </div>
        <div class="col-6">
            <select class="form-select" aria-label="Cargo">
                <option selected>Seleccione el cargo</option>
                <option value="1">Cargo 1</option>
                <option value="2">Cargo 2</option>
                <option value="3">Cargo 3</option>
            </select>
        </div>
        <div class="col-6">
            <select class="form-select" aria-label="Departamento">
                <option selected>Seleccione el departamento</option>
                <option value="1">Departamento 1</option>
                <option value="2">Departamento 1</option>
                <option value="3">Departamento 1</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select" aria-label="Estado actual">
                <option selected>Seleccione el estado</option>
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select" aria-label="Rol">
                <option selected>Seleccione el rol</option>
                <option value="1">Administrador</option>
                <option value="2">Jefe de área</option>
                <option value="3">Empleado</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select" aria-label="Horario">
                <option selected>Seleccione el horario</option>
                <option value="1">Diurno</option>
                <option value="2">Intermedio</option>
                <option value="3">Tarde</option>
                <option value="4">Noche</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Actualizar usuario</button>
        </div>
    </form>
</div>