
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout_Inicio.cshtml";
}

<!-- Login 9 - Bootstrap Brain Component -->
<div class="login_container">
    <div class="login_align">
        <section class="bg-primary py-3 py-md-5 py-xl-8">
            <div class="container">
                <div class="row gy-4 align-items-center">
                    <div class="col-12 col-md-6 col-xl-7">
                        <div class="d-flex justify-content-center text-bg-primary">
                            <div class="col-12 col-xl-9">                       
                                <img class="img-fluid rounded mb-4" loading="lazy" src="~/Estilos/assets/img/empresa/Logo_Nuevo.png" width="245" height="80"  alt="Proinsa Logo"/>
                                <hr class="border-primary-subtle mb-4">
                                <h2 class="h1 mb-4">Acá podríamos colocar un eslogan o una frase célebre de la empresa</h2>
                                <p class="lead mb-5">Bienvenido al portal web de Proinsa, gestione todo desde un mismo sitio</p>
                                <div class="text-endx">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                                        <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-5">
                        <div class="card border-0 rounded-4">
                            <div class="card-body p-3 p-md-4 p-xl-5">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-4">
                                            <h3 style="text-align:center;">Iniciar Sesión</h3>
                                        </div>
                                    </div>
                                </div>
                                @using (Html.BeginForm("IniciarSesion", "Inicio"))
                                {
                                    <div class="row gy-3 overflow-hidden">
                                        <div class="col-12">
                                            <div class="form-floating mb-3">                                                
                                                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                                                <label for="email" class="form-label">Correo electrónico</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
                                                <label for="password" class="form-label">Contraseña</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                                                <label class="form-check-label text-secondary" for="remember_me">
                                                    Mantenerme conectado
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <input type="submit" id="btn-inicio" name="btn-inicio" class="btn btn-primary btn-lg" value="Iniciar Sesión" onclick="Home()">
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                                            <a href="#!" onclick="recuperarPass()">Recuperar contraseña</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>    
</div>

<script src="~/Estilos/js/pruebas.js"></script>
