
@{
    ViewBag.Title = "RecuperarContrasenna";
    Layout = "~/Views/Shared/_Layout_Inicio.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="~/assets/img/empresa/Logo_Sin_Letras.png" />
                            </span>
                            <span class="app-brand-text demo text-body fw-bolder">Proinsa</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <div style="display: grid; place-items: center;">
                        <h4 class="mb-2">Recuperar Acceso</h4>
                        <p class="mb-4">Por favor, el correo registrado</p>
                    </div>
                    <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su correo" autofocus="">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="button" onclick="IniciarSesion()">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
<script src="~/js/enlacesTemporales.js"></script>