
@{
    ViewBag.Title = "LlenarEncuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navegacion {

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestión de Personal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Encuesta</a></li>
                        <li class="breadcrumb-item active">Llenar Encuesta</li>
                    </ol>
                </div>
                <h4 class="page-title">Llenar Encuesta</h4>
            </div>
        </div>
    </div>
}
<div class="encuesta">
    <iframe class="encuesta_align" src="https://docs.google.com/forms/d/e/1FAIpQLSer6Q5eJADfj8CvPAWP6488tQC87C5HEIWaknBJkVYC9lpFKg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
</div>
