
@{
    ViewBag.Title = "GestionDocumentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Horarios y actividades / Horario del personal /</span> Cambios de horario</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>


<div class="container">
    <form class="row g-3">
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
            <br />
            <button class="btn btn-primary" type="button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Buscar
            </button>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Elegir archivo</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary">Subir</button>
        </div>
    </form>
</div>