@{
    ViewBag.Title = "GestionDocumentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navegacion {

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestión de Personal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Actividades</a></li>
                        <li class="breadcrumb-item active">Documentacion</li>
                    </ol>
                </div>
                <h4 class="page-title">Gestion de documentos</h4>
            </div>
        </div>
    </div>
}

<div class="row g-3">
    <form class="row g-3">
        <div class="col-9">
            <a class="btn btn-primary" href="@Url.Action("Documentoplano","Actividades")" role="button">Subir documento plano</a>
        </div>
        <div class="col-9">
            <a class="btn btn-primary" href="@Url.Action("DocumentoUsuario","Actividades")" role="button">Subir documento a usuario</a>
        </div>
        </form>
    </div>
      