
@{
    ViewBag.Title = "DetalleEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Horarios y actividades / Horario del personal /</span> Cambios de horario</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>

<div class="card">
    <div class="card-body pb-1">
        <div class="d-flex">
            <img class="me-2 rounded" src="/Estilos/images/users/avatar-1.jpg" height="32">
            <div class="w-100">
                <div class="dropdown float-end text-muted">
                    <a href="#" class="dropdown-toggle arrow-none card-drop"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                    </div>
                </div>
                <h5 class="m-0">Eaguilar</h5>
                <p class="text-muted"><small>1 semana <span class="mx-1">⚬</span> <span>Departamento de Desarrollo</span></small></p>
            </div> <!-- end w-100-->
        </div> <!-- end d-flex -->

        <hr class="m-0" />

        <div class="my-3">
            <p>
                Arquitectura de aplicaciones empresariales con .Net 8.
                Enlace: https://www.udemy.com/course/arquitectura-aplicaciones-empresariales-con-net-core/
            </p>
            <div class="row">
                <div class="col-sm-8">
                    <img src="/Estilos/images/curso-online-NET-CSharp.png" alt="post-img" class="rounded me-1 mb-3 mb-sm-0 img-fluid" />
                </div>

            </div>
        </div>

        <div class="mt-1 mb-1">
            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted ps-0"><i class='mdi mdi-heart text-danger'></i>  5 Likes</a>
            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class='uil uil-comments-alt'></i> 1 comentario</a>

        </div>
        <hr class="m-0" />

        <div class="mt-3">
            <div class="d-flex">
                <img class="me-2 rounded" src="~/Estilos/images/users/avatar-9.jpg" alt="Generic placeholder image" height="32">
                <div class="w-100">
                    <h5 class="m-0">Tcamacho </h5>
                    <p class="text-muted mb-0"><small>1 semana</small></p>

                    <p class="my-1">
                        Listos para comenzar!
                    </p>

                    <div>
                        <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted p-0">
                            <i class='uil uil-heart me-1'></i> Me gusta
                        </a>
                        <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted p-0 ps-2">
                            <i class='uil uil-comments-alt me-1'></i> Responder
                        </a>
                    </div>

                </div> <!-- end w-100 -->
            </div> <!-- end d-flex -->

            <hr />

            <div class="d-flex mb-2">

                <div class="w-100">
                    <input type="text" class="form-control border-0 form-control-sm" placeholder="Escribe un comentario.....">
                </div> <!-- end w-100 -->
            </div> <!-- end d-flex -->
        </div>
    </div> <!-- end card-body -->
</div> <!-- end card -->