@{
    ViewBag.Title = "HistorialSolicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Horarios y actividades / Horario del personal /</span> Cambios de horario</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>

<div class="container">
    <div>
        <label class="h3">Historial de solicitudes: </label>
    </div>
    <ul class="list-group">

        <li class="list-group-item col-12 h4">
            Solicitud 1<br>
            <label>Fecha: </label>
            <label>10/2/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>


        <li class="list-group-item col-12 h4">
            Solicitud 2<br>
            <label>Fecha: </label>
            <label>2/5/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>


        <li class="list-group-item col-12 h4">
            Solicitud 3<br>
            <label>Fecha: </label>
            <label>30/6/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>


        <li class="list-group-item col-12 h4">
            Solicitud 4<br>
            <label>Fecha: </label>
            <label>1/7/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>


        <li class="list-group-item col-12 h4">
            Solicitud 5<br>
            <label>Fecha: </label>
            <label>10/12/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>

    </ul>
</div>