
@{
    ViewBag.Title = "Horarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Horarios y actividades / Horario del personal /</span> Cambios de horario</h4>

<div class="card mb-4">
    <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Cambios de horario del personal</h5>
    <div class="card-body">
        <div class="row gx-3 gy-2 align-items-center">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="ListaEmpleados" class="form-label">Lista de empleados</label>
                    <input class="form-control" list="ListaEmpleadosOptions" id="ListaEmpleados" placeholder="Buscar empleado..." />
                    <datalist id="ListaEmpleadosOptions">
                        <option value="Brandon Ruiz Miranda"></option>
                        <option value="Tifanny Camacho"></option>
                        <option value="Wilson Arias"></option>
                        <option value="Mónica Durán"></option>
                        <option value="Allan"></option>
                        <option value="Brandon Ruiz Miranda"></option>
                        <option value="Tifanny Camacho"></option>
                        <option value="Wilson Arias"></option>
                        <option value="Mónica Durán"></option>
                        <option value="Allan"></option>
                    </datalist>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="correo@correo.com"
                           readonly />
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Departamento</label>
                    <input class="form-control" type="text" id="exampleFormControlReadOnlyInput1" placeholder="Departamento"
                           readonly />
                </div>
            </div>
        </div>
        <div class="row gx-3 gy-2 align-items-center">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Puesto que desempeña</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del puesto"
                           readonly />
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="ListaHorarios" class="form-label">Horario actual</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mostrar horario actual"
                           readonly />
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="ListaHorarios" class="form-label">Asignar nuevo horario</label>
                    <input class="form-control" list="ListaHorariosOptions" id="ListaHorarios" placeholder="" />
                    <datalist id="ListaHorariosOptions">
                        <option value="Diurno"></option>
                        <option value="Tarde"></option>
                        <option value="Nocturno"></option>
                    </datalist>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-datetime-local-input" class="col-md-2 col-form-label">Fecha y Hora</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="datetime-local"
                           value="2021-06-18T12:30:00"
                           id="html5-datetime-local-input" />
                </div>
            </div>
        </div>
        <div>
            <label for="Justificacion" class="form-label">Justificación del cambio</label>
            <textarea class="form-control" id="Justificacion" rows="3"></textarea>
        </div>
        <div class="mt-4" style="display:grid; place-items:center;">
            <button type="button" class="btn btn-primary" id="liveToastBtn">
                <span><i class="bi bi-bell" style="font-size:18px;"></i></span>&nbsp; Notificar
            </button>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="bs-toast toast fade hide bg-success" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bi bi-bell me-3"></i>
            <div class="me-auto fw-semibold">Notificación</div>
            <small>Hace un segundo</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Se actualizó el horario correctamente y se le notificó al empleado
        </div>
    </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var toastTrigger = document.getElementById('liveToastBtn');
        var toastLiveExample = document.getElementById('liveToast');

        if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample);
                toast.show();
            });
        }
    });
</script>