
@{
    ViewBag.Title = "Deduccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navegacion {

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestión de Personal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Nómina</a></li>
                        <li class="breadcrumb-item active">Deducciones</li>
                    </ol>
                </div>
                <h4 class="page-title">Deducciones</h4>
            </div>
        </div>
    </div>
}

<h4 class="page-title">Registro de Ingresos</h4>

<div class="card-body">
    <div class="tab-content">
        <div class="tab-pane show active" id="striped-rows-preview">
            <div class="table-responsive-sm">
                <table class="table table-striped table-centered mb-0">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Porcentaje</th>
                            <th>Requerido</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr>
                            <td class="table-user">

                                CCSS
                            </td>
                            <td>Sin definir</td>
                            <td>10.35</td>
                            <td>
                               
                                <div>
                                    <input type="checkbox" id="switch1" checked data-switch="success" />
                                    <label for="switch1" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                            <td class="table-action">
                                <a href="@Url.Action("GestionDeducciones","Nominas")" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-user">

                                Permisos sin goce
                            </td>
                            <td>Sin definir</td>
                            <td>Sin definir</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="switch1" checked data-switch="success" />
                                    <label for="switch1" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                            <td class="table-action">
                                <a href="@Url.Action("GestionDeducciones","Nominas")" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-user">

                                Préstamos
                            </td>
                            <td>Sin definir</td>
                            <td>Sin definir</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="switch1" checked data-switch="success" />
                                    <label for="switch1" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                            <td class="table-action">
                                <a href="@Url.Action("GestionDeducciones","Nominas")" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end table-responsive-->
        </div> <!-- end preview-->

        <div class="tab-pane" id="striped-rows-code">
            <pre class="mb-0">
                <span class="html escape">
                    &lt;table class=&quot;table table-striped table-centered mb-0&quot;&gt;
                        &lt;thead&gt;
                            &lt;tr&gt;
                                &lt;th&gt;User&lt;/th&gt;
                                &lt;th&gt;Account No.&lt;/th&gt;
                                &lt;th&gt;Balance&lt;/th&gt;
                                &lt;th&gt;Action&lt;/th&gt;
                            &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                            &lt;tr&gt;
                                &lt;td class=&quot;table-user&quot;&gt;
                                    &lt;img src=&quot;assets/images/users/avatar-2.jpg&quot; alt=&quot;table-user&quot; class=&quot;me-2 rounded-circle&quot; /&gt;
                                    Risa D. Pearson
                                &lt;/td&gt;
                                &lt;td&gt;AC336 508 2157&lt;/td&gt;
                                &lt;td&gt;July 24, 1950&lt;/td&gt;
                                &lt;td class=&quot;table-action&quot;&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-delete&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                                &lt;td class=&quot;table-user&quot;&gt;
                                    &lt;img src=&quot;assets/images/users/avatar-3.jpg&quot; alt=&quot;table-user&quot; class=&quot;me-2 rounded-circle&quot; /&gt;
                                    Ann C. Thompson
                                &lt;/td&gt;
                                &lt;td&gt;SB646 473 2057&lt;/td&gt;
                                &lt;td&gt;January 25, 1959&lt;/td&gt;
                                &lt;td class=&quot;table-action&quot;&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-delete&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                                &lt;td class=&quot;table-user&quot;&gt;
                                    &lt;img src=&quot;assets/images/users/avatar-4.jpg&quot; alt=&quot;table-user&quot; class=&quot;me-2 rounded-circle&quot; /&gt;
                                    Paul J. Friend
                                &lt;/td&gt;
                                &lt;td&gt;DL281 308 0793&lt;/td&gt;
                                &lt;td&gt;September 1, 1939&lt;/td&gt;
                                &lt;td class=&quot;table-action&quot;&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-delete&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                                &lt;td class=&quot;table-user&quot;&gt;
                                    &lt;img src=&quot;assets/images/users/avatar-5.jpg&quot; alt=&quot;table-user&quot; class=&quot;me-2 rounded-circle&quot; /&gt;
                                    Sean C. Nguyen
                                &lt;/td&gt;
                                &lt;td&gt;CA269 714 6825&lt;/td&gt;
                                &lt;td&gt;February 5, 1994&lt;/td&gt;
                                &lt;td class=&quot;table-action&quot;&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                    &lt;a href=&quot;javascript: void(0);&quot; class=&quot;action-icon&quot;&gt; &lt;i class=&quot;mdi mdi-delete&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                        &lt;/tbody&gt;
                    &lt;/table&gt;
                </span>
            </pre> <!-- end highlight-->
        </div> <!-- end preview code-->
    </div> <!-- end tab-content-->
</div>