
@{
    ViewBag.Title = "GestionDeducciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navegacion {

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestión de Personal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Nómina</a></li>
                        <li class="breadcrumb-item active">Deducciones</li>
                    </ol>
                </div>
                <h4 class="page-title">Deducciones</h4>
            </div>
        </div>
    </div>
}

<h4 class="page-title">Registro de Deducciones</h4>

<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Descripción</label>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Monto</label>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Porcentaje</label>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Procesar</button>
        </div>
    </div>
</div>
