
@{
    ViewBag.Title = "GestionIngresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Horarios y actividades / Horario del personal /</span> Cambios de horario</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>

<h4 class="page-title">Gestión de ingresos</h4>

<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Descripción</label>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Monto</label>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Porcentaje</label>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Procesar</button>
        </div>
    </div>
</div>