
@{
    ViewBag.Title = "Calculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Nómina /</span> Cálculo</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>

<div class="tab-content">
    <div class="tab-pane show active" id="floating-preview">
        <div class="row">

            <h4 class="header-title">Datos Nómina</h4>
            <div class="col-lg-6">



                <div class="mb-3">
                    <label for="simpleinput" class="form-label">Descripción</label>
                    <input type="text" id="simpleinput" class="form-control" value="Nómina-Abril 2024">
                </div>
                <div class="mb-3">
                    <label for="simpleinput" class="form-label">Periodo</label>
                    <input type="text" id="simpleinput" class="form-control" value="04-2024" readonly>
                </div>

                <div class="mb-3">
                    <label for="simpleinput" class="form-label">Fecha Cálculo</label>
                    <input type="date" id="simpleinput" class="form-control" value="2024-04-29" readonly>
                </div>




            </div>

            <div class="col-lg-6">







                <div class="mb-3">
                    <label for="simpleinput" class="form-label">Revisiones</label>
                    <input type="number" id="simpleinput" value="1" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="simpleinput" class="form-label">Tipo Nómina</label>
                    <select class="form-select" id="example-select">
                        <option>Mensual</option>

                    </select>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title">Cálculo de nómina</h4>


                <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#responsive-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Importación de datos empleado
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#responsive-code" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Detalle Empleado
                        </a>
                    </li>

                    <li class="Cálculo">
                        <a href="#responsive-calculo" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Cálculo
                        </a>
                    </li>

                    <li class="Detalle Cálculo">
                        <a href="#responsive-detallecalculo" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Detalle Cálculo
                        </a>
                    </li>
                </ul> <!-- end nav-->
                <div class="tab-content">
                    <div class="tab-pane show active" id="responsive-preview">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Cédula</th>
                                        <th scope="col">Nombre Completo</th>
                                        <th scope="col">Salario Bruto</th>
                                        <th scope="col">Total de ingresos</th>
                                        <th scope="col">Total de deducciones</th>
                                        <th scope="col">Salario Neto</th>
                                        <th scope="col">Acción</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>305070199</td>
                                        <td>Tifanny Camacho Monge</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td class="table-action">
                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>306980854</td>
                                        <td>Esmeralda Araya Martínez</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td class="table-action">
                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>304150369</td>
                                        <td>Elmerson Aguilar</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td class="table-action">
                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                    </div> <!-- end preview-->

                    <div class="tab-pane" id="responsive-code">
                        <div class="d-flex align-self-start">
                            <img class="d-flex align-self-start rounded me-2" src="~/Estilos/images/users/avatar-9.jpg" alt="Dominic Keller" height="48">
                            <div class="w-100 overflow-hidden">
                                <h5 class="mt-1 mb-0">Tifanny Camacho</h5>

                                <p class="mb-1 mt-1 text-muted">Software Developer</p>
                            </div>
                        </div>


                        <div class="list-group list-group-flush mt-2">
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action text-primary border-0"><i></i> Salario Bruto</a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i></i> Ingresos</a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i></i> Deducciones</a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i></i> Salario Neto</a>
                        </div>
                    </div> <!-- end preview code-->

                    <div class="tab-pane" id="responsive-calculo">

                        <h6 class="font-15 mt-3">Ejecutar Proceso</h6>

                        <div class="mt-2">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="customCheck3">
                                <label class="form-check-label" for="customCheck3">Ejecutar</label>
                            </div>

                        </div>


                        <div class="mt-2">

                            <button type="submit" class="btn btn-primary">Procesar</button>
                        </div>
                    </div> <!-- end preview code-->



                    <div class="tab-pane" id="responsive-detallecalculo">

                        <div class="mt-3">
                            <h5 class="mb-2">Archivo</h5>

                            <div class="row mx-n1 g-0">
                                <div class="col-xxl-3 col-lg-6">
                                    <div class="card m-1 shadow-none border">
                                        <div class="p-2">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <div class="avatar-sm">
                                                        <span class="avatar-title bg-light text-secondary rounded">
                                                            <i class="mdi mdi-file-excel"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col ps-0">
                                                    <a href="javascript:void(0);" class="text-muted fw-bold">NominaAbril.xls</a>
                                                    <p class="mb-0 font-13">2.3 MB</p>
                                                </div>
                                            </div> <!-- end row -->
                                        </div> <!-- end .p-2-->
                                    </div> <!-- end col -->
                                </div> <!-- end col-->

                            </div> <!-- end preview code-->
                        </div> <!-- end tab-content-->

                        <div class="mt-3">
                            <h5 class="mb-3">Detalle</h5>

                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="border-0">Periodo</th>
                                            <th class="border-0">Fecha de Creación</th>
                                            <th class="border-0">Fecha de Ejecución</th>
                                            <th class="border-0">Empleados</th>
                                            <th class="border-0">Estado</th>
                                            <th class="border-0" style="width: 80px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Abril 04</a></span>
                                            </td>
                                            <td>
                                                <p class="mb-0">Martes 30 de abril 2024</p>

                                            </td>

                                            <td>
                                                <p class="mb-0">Martes 30 de abril 2024</p>

                                            </td>
                                            <td>Cantidad:20</td>
                                            <td>
                                                Aprobada
                                            </td>

                                            <td class="">
                                                <div class="btn-group dropdown">
                                                    <a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Visualizar</a>
                                                        <a class="dropdown-item" href="#">Aprobar</a>
                                                        <a class="dropdown-item" href="#">Rechazar</a>
                                                        <a class="dropdown-item" href="#">Re-calcular</a>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>








                                    </tbody>
                                </table>
                            </div>

                        </div> <!-- end .mt-3-->

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
    </div>
</div>
<!-- end row-->
