@{
    ViewBag.Title = "HistorialSolicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navegacion {

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Solicitudes</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Historial solicitudes</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Mi Historial de solicitudes </h4>
            </div>
        </div>
    </div>
}

<div class="container">
    <div>
        <label class="h3">Historial de solicitudes: </label>
    </div>
    <ul class="list-group">

        <li class="list-group-item col-12 h4">
            Solicitud 1<br>
            <label>Fecha: </label>
            <label>10/2/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>
        

        <li class="list-group-item col-12 h4">
            Solicitud 2<br>
            <label>Fecha: </label>
            <label>2/5/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>
        

        <li class="list-group-item col-12 h4">
            Solicitud 3<br>
            <label>Fecha: </label>
            <label>30/6/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>
    

        <li class="list-group-item col-12 h4">
            Solicitud 4<br>
            <label>Fecha: </label>
            <label>1/7/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>
        

        <li class="list-group-item col-12 h4">
            Solicitud 5<br>
            <label>Fecha: </label>
            <label>10/12/2023</label>
            <br>
            <label>Detalles: </label>
            <br>
            <label>Aprobado por: </label>
        </li>
        
    </ul>
</div>