
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Reportes /</span> Reportes</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Reportes Disponibles</h4>
            <button type="button" class="btn btn-primary mb-3" id="btnNuevoReporte">Nuevo Reporte</button>
        </div>
    </div>
</div>

<div class="row g-3">
    <ul class="list-group">
        <li class="list-group-item">
            <input type="checkbox" id="resumenDiasLibres" name="reporte" value="resumenDiasLibres">
            <label for="resumenDiasLibres">Resumen de días libres</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" id="desgloceSueldo" name="reporte" value="desgloceSueldo">
            <label for="desgloceSueldo">Desgloce de sueldo</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" id="antiguedadEmpleado" name="reporte" value="antiguedadEmpleado">
            <label for="antiguedadEmpleado">Antiguedad de empleado</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" id="ausentismo" name="reporte" value="ausentismo">
            <label for="ausentismo">Ausentismo</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" id="registroHoras" name="reporte" value="registroHoras">
            <label for="registroHoras">Registro de horas</label>
        </li>
        <!-- Agregar lo otros reoportes aqui-->
    </ul>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary mt-3" id="btnGenerarReportes">Generar Reportes</button>
    </div>
</div>

