@{
    ViewBag.Title = "GestionDocumentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Documentos y anuncios / Gestión de documentos / </span> Crear un documento </h4>

<div class="card mb-4">
    <div class="d-grid gap-2 col-6 mx-auto toast-header">
        <a class="btn btn-primary" href="@Url.Action("Documentoplano","Documentos")" role="button">Subir documento plano</a>
        <a class="btn btn-primary" href="@Url.Action("DocumentoUsuario","Documentos")" role="button">Subir documento a usuario</a>
    </div>
</div>
