@{
    ViewBag.Title = "GestionDocumentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Documentos y anuncios / Gestión de documentos / </span> Ver mis documentos </h4>

<div class="card mb-4">
    <div class="d-grid gap-2 col-6 mx-auto toast-header">
        <a class="btn btn-primary" href="@Url.Action("DocusPlanos","Documentos")" role="button">Documentos planos (generales)</a>
        <a class="btn btn-primary" href="@Url.Action("DocusPropios","Documentos")" role="button">Documentos propios</a>
    </div>
</div>
