@{
    ViewBag.Title = "AproVacaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Horarios y actividades / Horario del personal /</span> Cambios de horario</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>

<div class="row g-3">
    <form class="row g-3">
        <div class="col-6">
            <label for="inputId" class="form-label">Identificación</label>
            <input type="text" class="form-control" placeholder="Identificación" aria-label="First name" readonly>
        </div>
        <div class="col-6">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="First name" readonly>
        </div>
        <div class="col-3">
            <label for="inputPhone" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="inputPhone" placeholder="Apartment, studio, or floor" readonly>
        </div>
        <div class="col-3">
            <label for="inputRole" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="inputRole" placeholder="Cargo o rol" readonly>
        </div>
        <div class="col-3">
            <label for="inputDepartamento" class="form-label">Departamento</label>
            <input type="text" class="form-control" id="inputDepartamento" placeholder="Departamento al que pertenece" readonly>
        </div>
        <div class="col-3">
            <label for="inputfecharango" class="form-label">Dias solicitados:</label>
            <input type="text" class="form-control" id="inputfecharango" placeholder="15/05/24 - 17/05/24" readonly>
        </div>

        <div class="btn-group col-3">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#aprobacion">Aprobar</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#rechazo">Rechazar</button>
        </div>
    </form>
    <div class="modal fade" id="aprobacion">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Aprobacion de solicitud completada</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Se le notificara al usuario!
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="rechazo">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Rechazo de solicitud completada</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Se le notificara al usuario!
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
</div>

