
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Horarios y actividades / Horario del personal /</span> Cambios de horario</h4>

<div class="card mb-4">
    <h5 class="card-header">Prueba por si quieren usar este fondo blanco</h5>
</div>

<div class="col-xxl-6 col-lg-12 order-lg-2 order-xxl-1">
    <!-- new post -->
    <div class="card">
        <div class="card-body p-0">
            <ul class="nav nav-tabs nav-bordered">
                <li class="nav-item">
                    <a href="#newpost" data-bs-toggle="tab" aria-expanded="false" class="nav-link active px-3 py-2">
                        <i class="mdi mdi-pencil-box-multiple font-18 d-md-none d-block"></i>
                        <span class="d-none d-md-block">Creación de evento</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#photo-video" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2">
                        <i class="mdi mdi-image font-18 d-md-none d-block"></i>
                        <span class="d-none d-md-block">Fotos/Videos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#story" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2">
                        <i class="mdi mdi-book-open-variant font-18 d-md-none d-block"></i>
                        <span class="d-none d-md-block">Detalles</span>
                    </a>
                </li>
            </ul> <!-- end nav-->
            <div class="tab-content">
                <div class="tab-pane show active p-3" id="newpost">
                    <!-- comment box -->
                    <div class="border rounded">
                        <form action="#" class="comment-area-box">
                            <textarea rows="4" class="form-control border-0 resize-none" placeholder="Escribe algo......."></textarea>
                            <div class="p-2 bg-light d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="#" class="btn btn-sm px-2 font-16 btn-light"><i class="uil uil-scenery"></i></a>
                                    <a href="#" class="btn btn-sm px-2 font-16 btn-light"><i class="uil uil-location"></i></a>
                                    <a href="#" class="btn btn-sm px-2 font-16 btn-light"><i class="uil uil-paperclip"></i></a>
                                </div>
                                <button type="submit" class="btn btn-sm btn-success"><i class='uil uil-message me-1'></i>Publicar</button>
                            </div>
                        </form>
                    </div> <!-- end .border-->
                    <!-- end comment box -->
                </div> <!-- end preview-->
            </div> <!-- end tab-content-->
        </div>
    </div>

</div>
<!-- end new post -->
<!-- start news feeds -->

<div class="card">
    <div class="card-body p-2">
        <div class="list-group list-group-flush my-2">
            <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i class='uil uil-calendar-alt me-1'></i> 1 evento esta semana</a>
            <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i class='uil uil-calender me-1'></i> Cumpleaños de Esmeralda Araya</a>
            <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i class='uil uil-bookmark me-1'></i> Capacitación RFID próxima semana</a>
        </div>
    </div>
</div>


