// * Account Settings
// *******************************************************************************

@import '../_custom-variables/_pages.scss';
@import '../_bootstrap-extended/_include.scss';

.api-key-actions {
  position: absolute !important;
  top: 0.75rem;
  @include app-ltr() {
    right: 0.5rem;
  }
}
